# Django
DEBUG=True
SECRET_KEY=change-me-in-production
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DATABASE_URL=postgresql://coffee_shop:change-me-dev@db:5432/coffee_shop_dev
POSTGRES_DB=coffee_shop_dev
POSTGRES_USER=coffee_shop
POSTGRES_PASSWORD=change-me-dev

# Redis
REDIS_URL=redis://redis:6379/0

# Domain
DOMAIN=localhost
SITE_URL=http://localhost:8000

# Yandex OAuth
YANDEX_OAUTH_CLIENT_ID=
YANDEX_OAUTH_CLIENT_SECRET=
YANDEX_OAUTH_REDIRECT_URI=http://localhost:8000/accounts/oauth/complete/yandex/

# Yandex Delivery
YANDEX_SHOP_LAT=53.216940239129094
YANDEX_SHOP_LON=50.162688008923745
YANDEX_SHOP_ADDRESS=Самара, ул. Революционная, д. 3
YANDEX_DELIVERY_TOKEN=
YANDEX_MAPS_API_KEY=
YANDEX_JAVASCRIPT_API_KEY=
YANDEX_GEOCODER_API_KEY=
YANDEX_PVZ_ID=d0222b1e-73ff-4274-9c68-42c79d4c7eae
YANDEX_PVZ_LAT=53.200850
YANDEX_PVZ_LON=50.150500
YANDEX_PVZ_ADDRESS=г. Самара, ул. Лукачева, д. 6

# YooKassa (ЮКасса)
YOOKASSA_MERCHANT_ID=
YOOKASSA_API_KEY=
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_WEBHOOK_SECRET=
YOOKASSA_RETURN_URL=http://localhost:8000/success/
YOOKASSA_TEST_MODE=true

# Email (RuSender)
RUSENDER_USERNAME=
RUSENDER_PASSWORD=
EMAIL_FROM=noreply@localhost
